@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.container {
  height: calc(100vh - 120px);
}

body {
  height: 100vh; /* Define a altura do corpo como 100% da altura da viewport */
  overflow-y: scroll; /* Torna o corpo scrollável verticalmente */
}

body::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}

body::-webkit-scrollbar-track {
  background-color: #fafafa;
}

body::-webkit-scrollbar-thumb {
  background-color: #8047f8;
}
